.header {
    display: flex;
    justify-content: right;
    position : fixed;
    width : 100vw;
    align-items: center;
    padding-right : 20px;
    padding-top : 20px;
    font-size: 25px;
    padding-bottom : 5px;
    background:rgba(0,0,0,0); 
    color: rgba(0,128,128,0.9); 
    margin : 0px;

  }
  
.menu{
    background : white;
    height : auto;
    width : 20vw;
    position: absolute;
    top : 100%;
    right : 0;
    margin-right : 2%;  
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    transition: all 0.2s ease;


}
ul{
    margin : 5px;
    margin-left: 0px;
    list-style-type: none;
    
}

.icon{
    margin-right : 50px;
}

.logo {
font-size: 1.5rem; /* Adjust font size as needed */
}

.profile-icon {
cursor: pointer;
transition: all 0.5s ease;
}

.hidden{
    opacity: 0;
}

.visible{
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .menu{
        width : 50vw;
        z-index: 6;
    }
    ul{
        padding-right : 0.5%;
    }
}


