.forms {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px; /* Adjust padding for better spacing */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.user-entries {
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #3E3E3E;
}

.table th {
  background-color: #181818;
  color: #7f8682;
  font-weight: bold;
  text-transform: uppercase;
}

.table tbody tr:nth-child(even) {
  background-color: #282828;
}

.table tbody tr:hover {
  background-color: #383838;
}

.table td:last-child {
  text-align: center;
  vertical-align: middle; /* Ensures the icon is vertically centered */
}

.table th:last-child {
  text-align: center; /* Ensures the header text is centered */
}
