/* General styling for dark mode */
body {
  background-color: #191414;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h2 {
  margin-bottom: 20px;
  color: #1db954; /* Spotify green for the heading */
}

.button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1db954; /* Spotify green */
  color: white;
  border: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1ed760;
}
