/* src/components/Logout.css */

.logout {
  position: relative;
}

button {
  padding: 10px 20px;
  background-color: #000000; /* Spotify green */
  color: rgb(22, 139, 11);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #979797;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(0, 147, 15);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content button {
  margin: 0 10px;
}
