

body {
  font-family: 'Helvetica Neue', Arial, sans-serif; 
  background-color: #121212; 
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.title {
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1DB954;
  margin-bottom: 20px;
}

.userno, .activeusers {
  width: 45%;
  margin: 10px;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid #3E3E3E;
  border-radius: 10px;
  color: #B3B3B3;
}

.no {
  background-color: #3E3E3E;
  border: 1px solid #3E3E3E;
  border-radius: 10px;
  padding: 5px 10px;
  color: #FFFFFF;
}

.recent-activities, .notifications, .profile-summary, .settings-shortcut {
  width: 90%;
  margin-top: 20px;
  background-color: #282828;
  padding: 20px;
  border: 1px solid #3E3E3E;
  border-radius: 10px;
  color: #B3B3B3;
}

.section-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1DB954;
  display : flex;
  
}

.recent-activities ul, .notifications ul {
  list-style-type: none;
  padding: 0;
}

.recent-activities li, .notifications li {
  background: #3E3E3E;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.profile-details p {
  margin: 5px 0;
}

.settings-button {
  padding: 10px 20px;
  background-color: #1DB954;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.settings-button:hover {
  background-color: #14843b;
}

.settings-form {
  margin-top: 20px;
  background-color: #282828;
  padding: 20px;
  border: 1px solid #3E3E3E;
  border-radius: 10px;
  color: #B3B3B3;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #3E3E3E;
  border-radius: 5px;
  background-color: #3E3E3E;
  color: white;
}

.save-button {
  padding: 10px 20px;
  background-color: #1DB954;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.save-button:hover {
  background-color: #14843b;
}


li{
  display: flex;
  flex-direction: column;
}
.date{
  font-size: 10px;
  display : inline;
  align-self: flex-end;
}
