.survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212; 
  color: #FFFFFF; 
  padding: 20px; 
  height: 100vh; 
  width: 100vw; 
  overflow-y: auto; 
}

.title {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.user-entries {
  width: 90%; 
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem; /* Add margin between thead and tbody tables */
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #3E3E3E;
}

.table th {
  background-color: #181818;
  color: #7f8682;
  font-weight: bold;
  text-transform: uppercase;
}

.table tbody tr:nth-child(even) {
  background-color: #282828;
}

.table tbody tr:hover {
  background-color: #383838;
}

.entry td:last-child {
  text-align: center;
}

.entry td:last-child button {
  background-color: #1DB954;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.entry td:last-child button:hover {
  background-color: #1AA34A;
}
